body {
	margin: 0 auto;
	padding: 0;
	background-image: url("../img/bg.jpg");
	background-color:#000;
	max-width: 900px;
}
	
#wrapper {
	width: 100%; /*900px*/
	margin: 0 auto;
}
	
/*responsive design*/

#logocontainer {
	border: 3px solid #333;
	width: 24.444444444444%; /* 220px/ 900px */
}
	

}

/* Navigation */
#navi {
	width: 55.555555555556%; /*500px*/
	margin: 0 auto;
	background: #999;
	list-style-type: none;
	overflow: hidden;
}

nav {
	float: left;
	z-index: 9001;
}

nav li {
	width: 11.111111111111%; /*100px;*/
	background: transparent;
	float: left;
	list-style-type: none;
	font-family: 'Julius Sans One';
	font-size: 100%; /* 16px*/
	font-weight:bold;
	display:block; 
	width:9em;
	text-align: center;
	border: 0px;
}
		 
ul#facts {
	list-style-type: square;
}


/* Body */
#main {
	float: left;
	opacity:0.8;
	width: 57.777777777778%; /*520px*/
	height: 600px;
	padding: 20px 40px 0px;
	background: silver;
	font-family: verdana;
	font-size: .875em;
}

/*FORMS*/

#form{
	float: right;
}

input:focus{
	background: #99CCFF;
}

input{
	width:375px;
	display:block;
	border: 1px solid #999;
	height: 25px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


/*TABLE*/
table{
	width: 80%;
	text-align:center
	color: #000000;
	border-color: #ffffff;
	background: -moz-linear-gradient(top, #66a1d2, #4f7dac);
	border-width: 2px;
	border-style:solid;
	background: #66a1d2;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

th{
	font-family: 'Kranky', cursive;
	font-size: 1.5em;
}

/* SIDEBAR */
aside {
	background: #d9d9d9;
	background: -moz-linear-gradient(top,  #a1a0a0,  #d9d9d9);
	padding: 0px 0px 20px;
	float: left;
	width: 33.333333333333%; /*300px*/
	height: 600px;
	font-family: verdana;
	font-size: .875em;
	line-height:140%
}

/* Footer */	
footer {
	background: #66a1d2;
	margin: 0px;
	clear: both;
	font-family: verdana;
	width: 100%;
}


/* Headers */
h1 {
	margin: 0;
	padding: 20px;
	font-family: 'Kranky', cursive;
	font-size: 2.5em;
	text-shadow: 4px 4px 4px #646e95;
}

h2,h3 {
	font-family: 'Kranky', cursive;
	text-shadow: 4px 4px 4px #7e7e7e;
	font-size: 1.7em;
	padding: 20px 20px 0px;
}

header {
	background: #66a1d2;
	background: -moz-linear-gradient(top, #66a1d2, #4f7dac);
	padding: 2px 40px 30px;
	width: 91%;
	height: 115px;
	position: relative;
}

header h1 {
	float: left;
}

#rat {
	float: right;

	position: relative;
	top: 20px;
	width: 170px;
}


/* LINKS */
a:link {
	color:#000000; 
	background:transparent; 
	text-decoration:none;
}

a:visited { 
	color:#000000; 
	background:transparent; 
	text-decoration:none; 
}

a:hover { 
	color: #ffffff; 
	background:transparent; 
	text-decoration: none;
	border-bottom: 3px solid #fff; 
}

a:active { 
	color: #000000;
	background: transparent; 
	text-decoration: none; 
} 

/* PARAGRAPHS */
p {
	padding: 5px 20px 0px;
}
	
	
/* COLUMNS */	
p#col {
	column: 19.230769230769%; /*100px*/
	-webkit-columns:100px 3;
	-moz-columns:100px 3;
	
}
	
/* GALLERY */	
.thumbnail {
	float: left;
	width: 200px;
	border: 1px solid #999;
	margin: 0 15px 15px 0;
	padding: 5px;
}

.thumbnail img{
	width: 200px;
}

/* LEARN MORE BUTTON */
#learnMore {
	padding: 0px;
	margin: 0 70px 60px;
	list-style-type: none;
	float: left;
	text-align: center;
	width: 150px;
	color: #fff;
	border: 2px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #036;
	background: -moz-linear-gradient(top,   #66a1d2,  #345679);
}



/* MEDIA QUERIES */
@media screen and (max-width: 920px) {

	#header {
		height: auto;
	}

	#main {
		width: auto;
		height: 235px;
		float: none;
		clear: both;
	}

	aside {
		display: block;
		width: 100%;
		height: 250px;
		padding-left: 40px;
	}

	.thumbnail, .thumbnail img {
		width: 120px;
	}

	#learnMore {
		width: 150px;
	}

}

@media screen and (max-width: 700px) {

	#header {
		height: auto;
	}

	#rat {
		display: none;
	}

	#main {
		width: auto;
		height: 700px;
		float: none;
		margin: 20px 0;
		clear: both;
	}

	aside {
		display: none;
	}

}

@media screen and (max-width: 524px) {

	#header {
		height: auto;
	}

	#rat {
		display: none;
	}

	#main {
		width: auto;
		float: none;
		height: auto;
		margin: 20px 0;
		clear: both;
	}

	.thumbnail, .thumbnail img {
		width: 50px;
	}

	aside {
		display: none;
	}

}

@media screen and (max-width: 480px) {

	#header {
		height: 100%;
	}
	
header h1 {
	margin: 0;
	padding: 10px;
	font-family: 'Kranky', cursive;
	font-size: 2em;
	text-shadow: 4px 4px 4px #646e95;

	#rat {
		display: none;
	}

	#main {
		width: auto;
		height: auto;
		float: none;
		margin: 20px 0;
		clear: both;
	}
	
	.thumbnail, .thumbnail img {
		width: 20px;
	}

	aside {
		display: none;
	}

}



